*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background: #161616;
    color:white;
}
/* Header Section Start*/
.mobile-header{
    display: none;
}
.header-section{
    max-width:1400px;
    height:80px;
    background:transparent;
    display: flex;
    position:relative;
    justify-content:space-between;
    align-items:center;
    padding:0 40px
}
.header-section .header-section-logo{
    text-decoration: none;
    color:#fff;
    font-size: 30px;
}
.header-section ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-section ul li{
    list-style:none;
    margin-right: 20px;
}
.header-section ul li a{
    text-decoration: none;
    color:#fff;
    font-size:16px;
}
.header-section ul li a:hover{
    color:#ffc107;
    transition: .5s ease-in-out;
}
/* Header Section End*/
/* Pricing Plan Section Start*/
.pricing-section{
    max-width:1450px;
    height: 300px;
    padding:0 80px;
    display: flex;
    flex-direction: column;
    justify-content:center;

}
.pricing-plan-line{
    width:20%;
    height:30px;
    display: flex;
    align-items: center;
    justify-content:left;
    margin-bottom: 20px;
}
.pricing-horizontal-line{
    width:40px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pricing-horizontal-line span{
    width:100%;
    height:2px;
    background:#fff;
    margin-right:10px;


}
.pricing-section h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}
.pricing-section p{
    font-size:18px;
    line-height: 30px;
}
/* Pricing Plan Hero Section End*/
/* Pricing Plan Box Section Start*/
.pricing-plan-box-section{
    max-width: 1440px;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pricing-plan-box-section .pricing-plan-box{
    width:30%;
    height:auto;
    border:1px solid #fff;
    margin-left:10px;
    border-radius: 10px;
    padding:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.pricing-plan-box img{
    width:20px;
    height:20px;
}
.pricing-price-section{
    display: flex;
    align-items: center;
    justify-content:baseline;
    margin-bottom: 30px;
}
.pricing-price-section h2{
    margin-right: 5px;
    font-size: 70px;
    font-weight: bold;

}
.pricing-price-section img{
   width:35px;
   height:35px;
   margin-right:5px
}
#membership-standard{
    font-size:30px;
    margin-bottom: 20px;
}
#membership-standard-about{
    font-size:18px;
    margin-bottom: 20px;
}
.pricing-option-section{
    width:100%;
    height:100%;
    display:flex;
    align-items:left;
    justify-content: left;
    flex-direction: column;
    padding:20px;
}
.pricing-option-section span{
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
}
.pricing-option-section span img{
    margin-right: 10px;
}
.pricing-section-button{
    width:100%;
    background: #ffc107;
    padding:15px;
    border-radius: 10px;
    cursor: pointer;
    border:none;

}
.pricing-section-button a{
    text-decoration: none;
    color:#161616;
    font-size:18px;
    font-weight: bold;
}
.pricing-section-button:hover a{
    color:#fff;
    transition: .5s ease-in;
}
.pricing-section-button:hover{
    background:gray;
    color:#ffc107;
    transition: .5s ease-in;

}
/* Pricing Plan Box Section End*/





.footer-section{
    max-width: 1400px;
    height:80px;
    background:transparent;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0 80px;
}
.footer-section img{
    width:30px;
    height:30px;
    margin-left:20px;
    background-color:white;
    border-radius: 50%;
}
@media screen and (max-width:767px){
    .mobile-header{
        display: block;
        display: flex;
        justify-content: space-between;
        padding:30px 20px;
    }
    .mobile-header-menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .mobile-header-menu img{
        width:30px;
        height:30px;
        margin-right: 10px;
        cursor: pointer;;
    }
    .mobile-header-menu h4{
        font-size:20px;
    }
    .mobile-header-logo h4{
        font-size:20px;
    }
    .header-section{
        display: none;
    }
    .pricing-section{
        max-width:1450px;
        height: auto;
        margin:0 auto;
        padding:50px 20px 50px 20px;;
        display: flex;
        flex-direction: column;
        align-items:left;
        justify-content: center;
    }
    .pricing-plan-line{
        width:auto;
        height:auto;
        display: flex;
        margin-bottom: 10px;
    }
   
    .pricing-horizontal-line span{
        width:20px;
        margin-right:10px;
    }
    .pricing-section h1{
        font-size: 30px;
        margin-bottom: 10px;
    }

    .pricing-plan-box-section{
        height:auto;
        display: flex;
        flex-direction: column;
        padding:20px 20px 20px 20px;  
    }
    .pricing-plan-box-section .pricing-plan-box{
        width:100%;
        height:auto;       
        flex-direction: column;
        margin-bottom: 20px;
    }
    .pricing-price-section{
        width:auto;
        height:auto;
        display: flex;
        align-items: center;
        justify-content:center;
        margin-bottom: 10px;
    }

    #membership-standard{
        font-size:30px;
        margin-bottom: 20px;
        text-align: center;
        width:100%;
        height:auto;
    }
    #membership-standard-about{
        font-size:18px;
        margin-bottom: 20px;
        text-align: center;
    }
    .pricing-option-section{
        width:100%;
        height:auto;
        display:flex;
        align-items:center;
        justify-content: center;
        flex-direction: column;
        padding:20px;
    }
    .pricing-option-section span{
        display: flex;
        justify-content:center;
        align-items: center;
        margin-bottom: 20px;
    }
    .pricing-option-section span img{
        margin-right: 10px;
    }
    .pricing-section-button{
        width:100%;
        height: auto;
        background: #ffc107;
        padding:15px;
        border-radius: 10px;
        cursor: pointer;
        border:none;
    
    }
    .footer-section{
        width:100%;
        height:40px;
        background:transparent;
        display:flex;
        align-items:center;
        justify-content: center;
        padding:20px 30px;
        flex-wrap: wrap;

    }
    .footer-section-icon{
        display: none;
    }
    .footer-section h3{
        font-size:14px;
        text-align: center;
    }





}

@media screen and (min-width:768px) and (max-width:1023px){
    .mobile-header{
        display: block;
        display: flex;
        justify-content: space-between;
        padding:30px 20px;
    }
    .mobile-header-menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .mobile-header-menu img{
        width:30px;
        height:30px;
        margin-right: 10px;
        cursor: pointer;;
    }
    .mobile-header-menu h4{
        font-size:20px;
    }
    .mobile-header-logo h4{
        font-size:20px;
    }
    .header-section{
        display: none;
    }
    .pricing-section{
        max-width:1450px;
        height: auto;
        margin:0 auto;
        padding:50px 20px 50px 20px;;
        display: flex;
        flex-direction: column;
        align-items:left;
        justify-content: center;
    }
    .pricing-plan-line{
        width:auto;
        height:auto;
        display: flex;
        margin-bottom: 10px;
    }
   
    .pricing-horizontal-line span{
        width:20px;
        margin-right:10px;
    }
    .pricing-section h1{
        font-size: 30px;
        margin-bottom: 10px;
    }

    .pricing-plan-box-section{
        height:auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding:20px 20px 20px 20px;
        column-gap: 20px;
    }
    .pricing-plan-box-section .pricing-plan-box{
        width:100%;
        height:auto;       
        flex-direction: column;
        margin-bottom: 20px;
    }
    .pricing-price-section{
        width:auto;
        height:auto;
        display: flex;
        align-items: center;
        justify-content:center;
        margin-bottom: 10px;
    }

    #membership-standard{
        font-size:30px;
        margin-bottom: 20px;
        text-align: center;
        width:100%;
        height:auto;
    }
    #membership-standard-about{
        font-size:18px;
        margin-bottom: 20px;
        text-align: center;
    }
    .pricing-option-section{
        width:100%;
        height:auto;
        display:flex;
        align-items:center;
        justify-content: center;
        flex-direction: column;
        padding:20px;
    }
    .pricing-option-section span{
        display: flex;
        justify-content:center;
        align-items: center;
        margin-bottom: 20px;
    }
    .pricing-option-section span img{
        margin-right: 10px;
    }
    .pricing-section-button{
        width:100%;
        height: auto;
        background: #ffc107;
        padding:15px;
        border-radius: 10px;
        cursor: pointer;
        border:none;
    
    }
    .footer-section{
        width:100%;
        height:40px;
        background:transparent;
        display:flex;
        align-items:center;
        justify-content: center;
        padding:20px 30px;
        flex-wrap: wrap;

    }
    .footer-section-icon{
        display: none;
    }
    .footer-section h3{
        font-size:14px;
        text-align: center;
    }

}















