*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background: #161616;
    color:white;
}
/* Header Section Start*/
.mobile-header{
    display: none;
}
.header-section{
    max-width:1400px;
    height:80px;
    background:transparent;
    display: flex;
    position:relative;
    justify-content:space-between;
    align-items:center;
    padding:0 40px
}
.header-section .header-section-logo{
    text-decoration: none;
    color:#fff;
    font-size: 30px;
}
.header-section ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-section ul li{
    list-style:none;
    margin-right: 20px;
}
.header-section ul li a{
    text-decoration: none;
    color:#fff;
    font-size:16px;
}
.header-section ul li a:hover{
    color:#ffc107;
    transition: .5s ease-in-out;
}
/* Header Section End*/
.pricing-section{
    max-width:1400px;
    height: 300px;
    margin:0 auto;
    padding:0 40px;
    display: flex;
    flex-direction: column;
    align-items:left;
}





.footer-section{
    max-width: 1400px;
    height:80px;
    background:transparent;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0 80px;
}
.footer-section img{
    width:30px;
    height:30px;
    margin-left:20px;
    background-color:white;
    border-radius: 50%;
}



@media screen and (min-width:50px) and (max-width:1025px){
    .mobile-header{
        display: block;
        display: flex;
        justify-content: space-between;
        padding:30px 20px;
    }
    .mobile-header-menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .mobile-header-menu img{
        width:30px;
        height:30px;
        margin-right: 10px;
        cursor: pointer;;
    }
    .mobile-header-menu h4{
        font-size:20px;
    }
    .mobile-header-logo h4{
        font-size:20px;
    }
    .header-section{
        display: none;
    }










    .footer-section{
        width:100%;
        height:40px;
        background:transparent;
        display:flex;
        align-items:center;
        justify-content: center;
        padding:20px 30px;
        flex-wrap: wrap;

    }
    .footer-section-icon{
        display: none;
    }
    .footer-section h3{
        font-size:14px;
        text-align: center;
    }





}















