*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background: #161616;
    color:white;
}
/* Header Section Start*/
.mobile-header{
    display: none;
}
.header-section{
    max-width:1400px;
    height:80px;
    background:transparent;
    display: flex;
    position:relative;
    justify-content:space-between;
    align-items:center;
    padding:0 40px
}
.header-section .header-section-logo{
    text-decoration: none;
    color:#fff;
    font-size: 30px;
}
.header-section ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-section ul li{
    list-style:none;
    margin-right: 20px;
}
.header-section ul li a{
    text-decoration: none;
    color:#fff;
    font-size:16px;
}
.header-section ul li a:hover{
    color:#ffc107;
    transition: .5s ease-in-out;
}
/* Header Section End*/
/* Main Section Start*/
.about-page-section{
    max-width: 1400px;
    height:1400px;
    display: flex;
    justify-content:space-between;
    align-items:top;
    padding-bottom:20px
}
.about-page-all-items{
    width:500px;
    height:auto;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    padding-left:80px;
}
.about-page-all-items h1{
    font-size:70px;
    margin-bottom:30px;
    color:#ffc107
}
.about-page-all-items p{
    font-size:18px;
}
.about-page-paragraph{
    margin-bottom:50px;
    text-align: justify;
}
/*progress bar start*/
.progress-bar-div{
    width:100%;
    height:auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: left;
    margin-bottom:50px;
}
.progress-bar-div h2{
    font-size:30px;
    margin-bottom:10px;
    color:#ffc107
}
.progress-bar-content{
    width:70%;
    height:auto;
    display: flex;
    justify-content: space-between;
    align-items:left;
    margin-bottom: 10px;
}
.progress-bar-horizontal-line{
    width:100%;
    height:3px;
    background: #2a1845;
    display: flex;
    align-items: left;
}
.progress-bar-horizontal-line span{
    width:70%;
    height: 100%;
    background: #ffc107;
}
.progress-bar-items{
    margin-bottom: 20px;
}

.partners-div{
    width:100%;
    height:auto;
    display: flex;
    justify-content: space-between;
    align-items:left;
    flex-direction: column;
    margin-bottom:40px;
}
.partners-div h2{
    font-size:30px;
    margin-bottom:10px;
    color:#ffc107
}
.partners-div-items p{
    margin-bottom:5px;
}
.service-div{
    width:100%;
    height:auto;
    display: flex;
    justify-content: space-between;
    align-items:left;
    flex-direction: column;
    margin-bottom: 20px;
}
.service-div h2{
    font-size:30px;
    margin-bottom:10px;
    color:#ffc107
}
.service-div-divider{
    width:100%;
    height:3px;
    display: flex;
    align-items: left;
    margin-bottom: 10px;
    justify-content: space-between;
}
.service-div-column-1,.service-div-column-2{
    width:50%;
    height:auto;
    display: flex;
    justify-content: space-between;
    align-items:left;
    flex-direction: column;
}
.service-div-column-1,.service-div-column-2, h4{
    margin-bottom: 10px;
}
.about-image-section{
    width:650px;
    height:auto;
    display: flex;

}
.about-image-section img{
    width:100%;
    height:900px;
    position: center top;
}
.footer-section{
    max-width: 1400px;
    height:80px;
    background:transparent;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0 80px;
}
.footer-section img{
    width:30px;
    height:30px;
    margin-left:20px;
    background-color:white;
    border-radius: 50%;
}

@media screen and (min-width:50px) and (max-width:1025px) {
    .mobile-header{
        display: block;
        display: flex;
        justify-content: space-between;
        padding:30px 20px;
    }
    .mobile-header-menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .mobile-header-menu img{
        width:30px;
        height:30px;
        margin-right: 10px;
        cursor: pointer;;
    }
    .mobile-header-menu h4{
        font-size:20px;
    }
    .mobile-header-logo h4{
        font-size:20px;
    }
    .header-section{
        display: none;
    }
    .about-page-section{
        width:100%;
        height:auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content:space-between;
        align-items:top;
        padding:0 20px;
        margin-bottom: 100px;
    }
    .about-page-all-items{
        width:auto;
        height:auto;
        display: flex;
        align-items: left;
        justify-content: left;
        flex-direction: column;
        padding-left:0;
        flex-wrap: wrap;
    }
    .about-page-all-items h1{
        font-size:40px;
        color:#ffc107
    }

    .about-image-section{
        width:auto;
        height:auto;
        margin-bottom:20px
    
    }
    .about-image-section img{
        width:100%;
        height:auto;
    }
    .about-page-paragraph{
        margin-bottom:50px;
        text-align:left;
        font-size:30px;
        line-height: 30px;
    }
    .footer-section{
        width:100%;
        height:40px;
        background:transparent;
        display:flex;
        align-items:center;
        justify-content: center;
        padding:20px 30px;
        flex-wrap: wrap;

    }
    .footer-section-icon{
        display: none;
    }
    .footer-section h3{
        font-size:14px;
        text-align: center;
    }
    
}


@media screen and (min-width:1450px) and (max-width:2500px) {
   
}

